<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order Page</title>
</head>
<body>
<h1>order page</h1>

<form action="order2" method="post">
    <h1>Order a Pet</h1>
    <label for="pettype">What kind of pet would you like to order?</label>
    <input class="form-control mb-2" type="text" name="pettype" id="pettype">

    <label for="color">Select a Color</label>
    <select name="color" id="color">
        <option value="purple">Purple</option>
        <option value="green">Green</option>
        <option value="orange">Orange</option>
    </select>

    <button type="submit">Place Order</button>
</form>

</body>
</html>